<h1>Welcome to JBoss!</h1>
<div>
    <p>You have successfully deployed a Jakarta EE Enterprise Application.</p>
</div>


<form action="#" th:action="@{/}" th:object="${member}" method="post">
    <h2>Member Registration</h2>
    <p>Enforces annotation-based constraints defined on the model class.</p>
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" th:field="*{name}" /></td>
            <td><span th:errors="*{name}" class="invalid"></span></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" th:field="*{email}" /></td>
            <td><span th:errors="*{email}" class="invalid"></span></td>
        </tr>
        <tr>
            <td><label for="phoneNumber">Phone #:</label></td>
            <td><input type="text" id="phoneNumber" th:field="*{phoneNumber}" /></td>
            <td><span th:errors="*{phoneNumber}" class="invalid"></span></td>
        </tr>
    </table>
    <div class="grid-container">
        <p>
            <button type="submit" class="register">Register</button>
        </p>
        <div class="messages">
            <span th:if="${successMessage}" th:text="${successMessage}" class="valid"></span>
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="invalid"></span>
        </div>
    </div>
</form>

<h2>Members</h2>
<div th:if="${#lists.isEmpty(members)}">
    <em>No registered members.</em>
</div>

<table th:if="${not #lists.isEmpty(members)}" class="simpletablestyle">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone #</th>
        <th>REST URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.phoneNumber}"></td>
        <td>
            <a th:href="@{/rest/members/{id}(id=${member.id})}">/rest/members/<span th:text="${member.id}"></span></a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            REST URL for all members: <a th:href="@{/rest/members}">/rest/members</a>
        </td>
    </tr>
    </tfoot>
</table>